@CHARSET "ISO-8859-1";
.alert-minimalist {
	max-width: 450px;
	font-family: sans-serif;
	background-color: rgba(26, 178, 255, 0.1);
	border: 1px solid rgba(0, 170, 255, 0.3);	
	color: rgb(26, 26, 26);
	padding: 15px;
	font-size: 15px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 0px;
	margin-right: 5px;
}
.alert-minimalist > [data-notify="title"] {
	color: black;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 70%;
}

.alert-minimalist > [data-notify="url-link"] {
	font-size: 80%;
}