*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
/* body {background:#EEE;} */
 
/* .container {width:50em;margin:1em auto;padding:.1999em;} */
 
.item {width:12em;height:12em;background-color:white;float:left;margin:.2em;background-size:cover;padding:1em;}
.item-double {width:24.4em;}
 
.item-teal {background-color:#008299;}
.item-blue {background-color:#2672EC;}
.item-purple {background-color:#8C0095;}
.item-darkpurple {background-color:#5133AB;}
.item-red {background-color:#AC193D;}
.item-orange {background-color:#D24726;}
.item-green {background-color:#008A00;}
.item-skyblue {background-color:#094AB2;}
 
.item-teal:hover {background-color:#00A0B1;}
.item-blue:hover {background-color:#2E8DEF;} 
.item-purple:hover {background-color:#A700AE;}
.item-darkpurple:hover {background-color:#643EBF;}
.item-red:hover {background-color:#BF1E4B;}
.item-orange:hover {background-color:#DC572E;}
.item-green:hover {background-color:#00A600;}
.item-skyblue:hover {background-color:#0A5BC4;}
 
.item a, .item .not-found {color:#FFF;font-size:20px;line-height:1.3;text-decoration:none;display:inline-block;width:100%;height:100%;}
 
/* @media only screen and (max-width:50em) { */
/* .container {width:100%;margin:0;}   */
/* } */