#wrapper { 
	font-family:arial; 
}
#wrap-left { 
	width:256px; 
	float:left; 
}
#wrap-left .title { 
	width:237px;
	height:22px;
	font-size:13; 
	font-weight:bold; 
	border:2px solid black; 
	padding-left:15px;
	padding-top:8px; 
}
#wrap-left .middle { 
	width:237px;
	padding-left:15px;
	height:120px;
	font-size:12; 
	border:2px solid black;
	border-top:none !important; 
}
#wrap-left .sub-middle,
#wrap-left .sub-bottom {
	padding-top:8px;
	height:22px;
}
#wrap-left .sub-middle .label {
	width:90px;
	float:left;
}
#wrap-left .sub-middle .content {
	width:147px;
	float:left;
}
#wrap-left .sub-middle .content .sub-content-1 {
	width:49px;
	float:left;
}
#wrap-left .sub-middle .content .sub-content-2 {
	width:98px;
	float:left;
}
#wrap-left .bottom {
	font-size:12; 
	width:237px;
	padding-left:15px;
	height:300px;
	border:2px solid black;
	border-top:none !important;
}
#wrap-left .sub-bottom .label {
	width:147px;
	float:left;
}
#wrap-left .sub-bottom .content {
	width:90px;
	float:left;
}
#wrap-left .bottom .note {
	padding-top:8px;
	width:237px;
	height:70px;
}
#wrap-left .bottom .signature {
	position:relative;
	top:30px;
	padding-left:100px;
	font-size:14;
}
#wrap-right { 
	width:471px; 
	margin-left:10px;
	float:left; 
}
#wrap-right .title {
	width:471px;
	min-height:10px;
	float:left;
}
#wrap-right .sub-title-1 {
	width:220px;
	text-align:right;
	font-weight:bold;
	font-size:13;
	height:40px;
	float:left;
}
#wrap-right .sub-title-2 {
	width:200px;
	height:40px;
	float:left;
	padding-left:35px;
}
#wrap-right .sub-title-2 .content-bundle {
	width:200px;
	float:left;
}
#wrap-right .sub-title-2 .label {
	width:56px;
	font-size:13;
	float:left;
}
#wrap-right .sub-title-2 .content {
	width:144px;
	font-size:11;
	float:left;
}
#wrap-right .description {
	width:471px;
	float:left;
	font-size:12;
}
#wrap-right .description .title-desc {
	font-weight:bold;
	width:471px;
	height:18px;
	float:left;
}
#wrap-right .description .content {
	width:471px;
	height:18px;
}
#wrap-right .description .content .label {
	width:157px;
	float:left;
}
#wrap-right .description .content .sub-content {
	width:314px;
	float:left;
}
#wrap-right .table {
	border: 1px solid black;
	font-size:12;
	float:left;
	margin-top:10px;
}
#wrap-right .table .title .sub-title {
	border:1px solid black;
	text-align:center;
	float:left;
	padding-top:6px;
	height:20px;
}
#wrap-right .table .body .sub-body {
	border:1px solid black;
	height:150px;
}
#wrap-right .table .body .sub-body .note {
	min-height:50px;
	margin-bottom:10px;
}
#wrap-right .bottom-holder {
	width:471px;
}
#wrap-right .bottom-holder .total{
	width:245px;
	padding-left:225px;
	height:20px;
	margin-top:5px;
}
#wrap-right .bottom-holder .total .total-text{
	width:55px;
	font-size:13;
	font-weight:bold;
}
#wrap-right .bottom-holder .total .total-currency{
	width:40px;
	font-size:12;
}
#wrap-right .bottom-holder .total .total-amount{
	font-size:12;
	width:150px;
}
#wrap-right .bottom-holder .bottom {
	font-size:12;
}
#wrap-right .bottom-holder .bottom .penerima {
	border:1px solid black;
}
#wrap-right .bottom-holder .bottom .penerima .label {
	border:1px solid black;
	height:20px;
	padding-top:7px;
	text-align:center;
}
#wrap-right .bottom-holder .bottom .penerima .user {
	border:1px solid black;
	height:20px;
	padding-top:85px;
	text-align:center;
}

.bold {font-weight:bold;}
.f-left {float:left;}
.f-right {float:right;}
.t-left {text-align:left;}
.t-right {text-align:right;}
.w24 {width:24px;}
.w32 {width:32px;}
.w70 {width:70px;}
.w127 {width:127px;}
.w151 {width:151px;}
.w188 {width:188px;}
.w280 {width:280px;}
.w282 {width:282px;}
.w471 {width:471px;}